# Final Project Template
**Notebook Preparation for Lesson**

Once you open the notebook:

1. Save in on your google drive (copy to drive) and name it DMAP FA21 Final Project
2. Share the notebook and copy the share ID to the NOTEBOOK_ID (and re-save the notebook)
3. This ID should remain the same for all your milestones
4. You will submit a copy of your updated notebook (this file) on Moodle for each milestone

In [ ]:
# Keep this code cell here
# Project title will be used by the reviewer
PROJECT_TITLE = "DMAP FA21 Final Project"
NOTEBOOK_ID   = "https://colab.research.google.com/drive/19ZaG8MrPvBccE1PrLZ73gupKDtN4Lved?usp=sharing"
VERSION = "FA21"


---
# Project Introduction

Double click on this cell to see its contents.  We expect you to replace this cell.

<img align="left" src="http://drive.google.com/uc?export=view&id=1nA9491MchEtFcklvtIGqOnipE63C2FGD"/>

• Describe the **context**, sitution, problem to be solved/explored

• Whatever you need to get the reader _involved_

• Images can be hosted using google drive (you may need to create a transparent border)

• Even formulas when needed: 
$$e^x = \sum_{k=0}^{\infty} \frac{x^k}{k!}$$

• Note that markdown is very whitespace sensitive.
• Click on this cell to read comments.

<!-- this is a comment -->
<!-- 

   VIDEO INSTRUCTIONS (and data hosting)

1. upload to google drive, get the share URL
https://drive.google.com/file/d/1yGvY5a0KAqnOKf5kLh5EbbbRY4_LonAX

2. convert to export URL:
http://drive.google.com/uc?export=download&id=1yGvY5a0KAqnOKf5kLh5EbbbRY4_LonAX

3. OR use some other service to host your video:
https://storage.googleapis.com/uicourse/videos/dmap/Exact%20Instructions%20Challenge%20-%20THIS%20is%20why%20my%20kids%20hate%20me.%20%20Josh%20Darnit.mp4

replace the src="YOUR VIDEO URL" in the <source> tag in the next cell below
-->

In [ ]:
%%html
<!-- this should be the ONLY html cell in the notebook: use markdown -->
<div style="font-size:36px; max-width:800px; font-family:Times, serif;">
 Title Your Video (and update the video URL)
<video width="600" controls>
  <source src="https://drive.google.com/uc?export=download&id=1yGvY5a0KAqnOKf5kLh5EbbbRY4_LonAX"
  type="video/mp4">
</video>
</div>
Note: If your video is too large, you can host it on Vimeo, YouTube, etc and paste the URL here

In [2]:
# add your imports here for your entire project
import pandas as pd
import numpy as np

#Project Introduction
A detailed description about the problem/ research question(s) you are addressing, goals/expected outcome of the project, a brief introduction to your data, and the techniques you will be using.

More than any period in history, we are dependent on the internet to live our everyday life and get our work done. We are surrounded by myriad information every day and it becomes increasingly hard to evaluate the quality and truthfulness of each piece of information as we digest them. Since how we see the world and others is heavily influenced by the information we received, it is likely for some people to form certain beliefs that are not supported by sufficient evidence. Conspiracist ideation – belief in conspiracy theories – is a typical example of such beliefs. People endorsing conspiracy theories tend to explain an event or situation by invoking a conspiracy by sinister and powerful groups, often political in motivation, when other explanations are more probable (Brotherton et al., 2013). A number of studies investigating conspiracy beliefs find that conspiracy beliefs do not result from rational evaluation of the evidence related to each specific conspiracist claim; rather there seems to be stable individual differences in the general tendency to engage with conspiracist explanations for events (e.g., Goertzel, 1994; Swami et al., 2010, 2011, 2013; Wood et al., 2012). Findings suggest that there are relationships between conspiracy beliefs and personality traits and cognitive styles, but they are limited in robustness and strength (see Swami et al., 2010, 2011, 2013; Swami and Furnham, 2012). If conspiracy beliefs and personality traits and/or cognitive styles are indeed related, it is plausible to predict one from the other. For this project, I would like to use machine learning approaches to try making prediction on conspiracy beliefs from personality traits. I will investigate the effects of personality traits and demographic information (e.g., age, gender, education, major), separately, on predicting conspiracy beliefs. The dataset I will use was collected by [Open Psychometrics](https://openpsychometrics.org/), through an interactive online version of the **Generic Conspiracist Belief Scale (GCBS)** (Brotherton et al., 2013) in 2016. It contains 2495 responses (rows) and 72 columns, comprised of 15 items from GCBS, time spent in answering the questions, 10 items from a brief measure of the Big Five Personality Domains (Gosling et al., 2003), 16 items for validity check, and a bunch of questions related to demographic information.  I intend to utilize both parametric (e.g., logistic regression) and nonparametric (e.g., decision trees) models, and compare their prediction performance.

# Data Acquisition, Selection, Cleaning
Introduce the data here as well as any technical overview that's important that wasn't given in the introduction

The GCBS contains 15 items. Each item is a statement of a conspiracy belief. The scale was constructed using 3 items representing each of the 5 important facets of conspiracist ideation. The responses to these questions are on a 5-point Likert scale (which is an ordinal scale), with a higher rating of an item corresponding to a stronger belief in it. Since all the questions use the same Likert scale, it is common practice to sum the individual item scores and treat the sum (or mean) as on an interval scale (Norman 2010; Perla & Carifio 2007). Therefore, I will use the mean score of the 15 items (ranging from 1 to 5, treated as interval data) as the dependent variable to reflect the degree of beliefs in conspiracy overall.

To investigate the effect of personality traits on predicting conspiracy beliefs, I will select the 10 response variables associated with the Ten Item Personality Inventory as my independent variables. They are on a 7-point Likert scale (ordinal). On the other hand, I will use the variables related to the respondent’s demographic information (e.g., years of education and major, gender, age, religion, race, etc.) as predictors to study their effects on predicting conspiracist ideation. Most of the variables are on a nominal scale and have been coded in numbers already. The only variable that needs a substantial amount of cleaning is “major”, whose data are strings and not uniformly formatted. After first investigation of the data (see in code), there are no missing values in any of the variables except for the variable ‘major’. Since nearly half of the ‘major’ values are not available, imputing them is not plausible or practical, and getting rid of the instances leads to a huge waste of potentially informative data, I decide to remove the variable from the selected set of predictors. 

For a complete view and explanation of the variables, please see the accompanied 'codebook' in the Google Drive shared folder ([codebook](https://drive.google.com/file/d/1JcjELv8S66EW-aeioVanLt-jq13hzh0R/view?usp=sharing)). 

To achieve interpretability of the models, I plan to fit a linear regression model, as the parametric model, and a decision tree model, as the nonparametric one, to my data. If they do not perform well, I will consider training random forests (which often make more accurate predictions than decision trees) and/or incorporating boosting and bagging methods into the base models. I will utilize 5-fold cross validation in model training.

In [5]:
# read data from google drive
url = 'https://drive.google.com/file/d/14ppYjXV4N9FNbcmSSLLc1AXq6Tffi7hP/view?usp=sharing'
doc_id = '14ppYjXV4N9FNbcmSSLLc1AXq6Tffi7hP'
base_url = 'https://drive.google.com/uc?id=' + doc_id
df = pd.read_csv(base_url)
df.head()

   Q1  Q2  Q3  Q4  Q5  ...  race  voted  married  familysize       major
0   5   5   3   5   5  ...     5      2        1           1      ACTING
1   5   5   5   5   5  ...     4      2        1           1         NaN
2   2   4   1   2   2  ...     4      1        1           2  philosophy
3   5   4   1   2   4  ...     4      1        1           3     history
4   5   4   1   4   4  ...     4      2        2           2  Psychology

[5 rows x 72 columns]

In [6]:
df.describe()

                Q1           Q2  ...      married   familysize
count  2495.000000  2495.000000  ...  2495.000000  2495.000000
mean      3.472545     2.963527  ...     1.262124     2.560321
std       1.455552     1.494669  ...     0.559446     2.355926
min       0.000000     0.000000  ...     0.000000     0.000000
25%       2.000000     2.000000  ...     1.000000     2.000000
50%       4.000000     3.000000  ...     1.000000     2.000000
75%       5.000000     4.000000  ...     1.000000     3.000000
max       5.000000     5.000000  ...     3.000000    98.000000

[8 rows x 71 columns]

In [7]:
print(df.isna().sum())

Q1               0
Q2               0
Q3               0
Q4               0
Q5               0
              ...
race             0
voted            0
married          0
familysize       0
major         1158
Length: 72, dtype: int64

# Data Exploration
Initial exploration of the dataset, not required, but useful to give the reader a 'view' of the data

# Data Analysis

# Summary


---
# Submission Guidelines (keep this section here)
---


When you are ready to submit your project, part of the submission process will be to register your notebook for reviewing.  

For each milestone, you will submit an updated version of your project notebook (this notebook) with that milestone’s requirements. Your project notebook ID and URL should be the same.

You will also receive the links and instructions to do the peer reviews.

**Submission for Milestone0:**
1. Save a copy of this notebook in your Google drive
3. Share the Noetbook and place the Notebook ID in the first code cell
4. Download as "DMAP_FA21_Final_Project_MS0.ipynb"
5. Submit this in Moodle